<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="goBack()">
        <ion-icon name="arrow-back-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Solar Solutions</ion-title>
    <ion-buttons slot="end">
      <ion-button routerLink="/home">
        <ion-icon name="home-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row class="ion-justify-content-center">
      <ion-col size="12" size-md="6">
        <mat-card>
          <mat-card-header appearance="fill">
            <mat-card-title>Iniciar Sesión</mat-card-title>
          </mat-card-header>
          <mat-card-content>
            <mat-form-field appearance="fill">
              <mat-label>Correo Electrónico</mat-label>
              <input matInput type="email">
            </mat-form-field>
            <mat-form-field appearance="fill">
              <mat-label>Contraseña</mat-label>
              <input matInput type="password">
            </mat-form-field>
            <button mat-raised-button color="primary" (click)="login()">Ingresar</button>
            <button mat-button color="accent" routerLink="/register">Registrarse</button>
            <button mat-raised-button color="primary" (click)="espacio2()">Mi espacio</button>
          </mat-card-content>
        </mat-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>